.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    padding-left: 2rem;
  }
  
  .logo {
    height: 40px;
    width: auto;
    margin-right: 1rem;
  }
  
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1F2937;
  }
  
  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .navLink {
    margin-left: 2rem;
    color: #4B5563;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  
  .loginContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  
  .loginButton {
    background-color: #EF4444;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  