.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: purple;
  }
  
  .titleBorder {
    width: 10rem;
    margin: auto;
    display: block;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 30%;
    margin: 2rem;
    text-align: center;
    height: 33rem;
  }
  
  .cardTitle {
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 0.125rem solid #000000;
    margin-bottom: 1rem;
    margin-top: -10px;
  }
  
  .price {
    font-size: 5rem;
    font-weight: bold;
    color: purple;
    padding-bottom: 0.1rem;
    margin-bottom: 0.5rem;
  }
  
  .perMonth {
    color: black;
    border-bottom: 0.125rem solid #000000;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .services {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .serviceItem {
    border-bottom: 0.12rem solid #000000;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    font-size: 1rem;
  }
  
  .signUpButton {
    background-color: #ef4444;
    color: #ffffff;
    padding: 1rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  